<div class="box">
  <mat-form-field>
    <mat-label>Add new task</mat-label>
    <input
      matInput
      #message
      maxlength="102"
      [(ngModel)]="taskTitle"
      (keyup.enter)="addTaskHandler()"
    />
    <mat-hint align="end">{{ message.value.length }} / 102</mat-hint>
  </mat-form-field>
  <p class="errMessage" (click)="closeErrMessageHandler()">{{ errorMessage$$ | async }}</p>

  <tl-task
    *ngFor="let task of tasks$ | async | slice : 0 : numberOfTasks"
    [task]="task"
    (removeTaskEvent)="removeTask($event)"
    (changeTaskEvent)="changeTask($event)"
  >
  </tl-task>

  <button
    class="tasks-btn"
    type="button"
    mat-button
    *ngIf="(tasks$ | async)!.length > 5"
    (click)="isShowTasksHandle()"
  >
    {{ buttonName }}
  </button>
</div>
