<div class="box">
  <input
    class="input"
    type="text"
    placeholder="Add new task"
    [(ngModel)]="taskTitle"
    (keyup.enter)="addTaskHandler()"
  />
  <tl-task
    *ngFor="let task of tasks$ | async | slice : 0 : numberOfTasks"
    [task]="task"
    (removeTaskEvent)="removeTask($event)"
    (changeTaskEvent)="changeTask($event)"
  >
  </tl-task>

  <button
    class="tasks-btn"
    type="button"
    mat-button
    *ngIf="(tasks$ | async)!.length > 5"
    (click)="isShowTasksHandle()"
  >
    {{ buttonName }}
  </button>
</div>
