.mainContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.completed {
    opacity: 0.6;
}

.mainContent p {
    width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    cursor: pointer;
}

.mainContent p.show {
    white-space: break-spaces;
    overflow: unset;
    margin-bottom: 2%;
}