.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.completed {
    opacity: 0.6;
}

.box p {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

.box p.show {
    width: 300px;
    white-space: break-spaces;
    overflow: unset;
}