<div>
  <div
    class="box"
    *ngIf="!isEditMode; else content"
    [ngClass]="{ completed: task.status === taskStatusEnum.completed }"
  >
    <mat-checkbox
      color="primary"
      [checked]="task.status === taskStatusEnum.completed"
      (change)="changeTaskStatusHandler($event.checked)"
    >
      <p>{{ task.title }}</p>
    </mat-checkbox>

    <div>
      <button mat-icon-button aria-label="edit task" (click)="activateEditModeHandler()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button aria-label="delete task" (click)="removeTaskHandler()">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </div>
  </div>

  <ng-template #content>
    <mat-form-field>
      <input matInput [(ngModel)]="newTitle" (blur)="editTaskTitleHandler()" />
    </mat-form-field>
  </ng-template>
</div>
