<tl-header></tl-header>

<div class="todo-input">
  <mat-form-field>
    <mat-label>Add todo list</mat-label>
    <input matInput placeholder="Ex. Shopping list" [(ngModel)]="todoTitle" />
  </mat-form-field>
  <button mat-icon-button aria-label="add todo" (click)="addTodoHandler()">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</div>

<div class="todos">
  <tl-todo
    class="todo"
    *ngFor="let todo of todos$ | async"
    [todo]="todo"
    (removeTodoEvent)="removeTodo($event)"
    (editTodoEvent)="editTodo($event)"
  ></tl-todo>
</div>
