.todo-header-spacer {
    flex: 1 1 auto;
}

.todo-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.todo-input button {
    margin-bottom: 18px;
}

.todos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

