.todos-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.todos-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    width: 300px;
    padding: 10px;
}

.todos {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}