<div class="box">
  <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="form">
    <h2>Login page</h2>

    <mat-form-field>
      <mat-label>Enter email</mat-label>
      <input matInput type="email" formControlName="email" required />
      <mat-error *ngIf="email!.hasError('pattern') && !email!.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="email!.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter password</mat-label>
      <input matInput type="password" formControlName="password" required />
      <mat-error *ngIf="password!.hasError('minlength') && !password!.hasError('required')">
        Short password
      </mat-error>
      <mat-error *ngIf="password!.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <label><input type="checkbox" formControlName="checkbox" /> remember me</label>

    <button [disabled]="loginForm.invalid" type="submit">sing in</button>
  </form>
</div>
