<div>
  <div class="todo-header">
    <input
      *ngIf="isEditMode; else content"
      type="text"
      [(ngModel)]="newTitle"
      (blur)="editTitleHandler()"
    />
    <ng-template #content>
      <h5 (dblclick)="activateEditModeHandler()">{{ todo.title }}</h5>
    </ng-template>

    <button (click)="removeTodoHandler()">X</button>
  </div>

  <div>
    <tl-tasks [todoId]="todo.id"></tl-tasks>

    <tl-todo-filters
      (changeFilterEvent)="changeFilter($event)"
      [filter]="todo.filter"
    ></tl-todo-filters>
  </div>

  <div>
    <tl-todo-footer [addedDate]="todo.addedDate"></tl-todo-footer>
  </div>
</div>
