<mat-card>
  <mat-card-header class="todo-header">
    <input
      *ngIf="isEditMode; else content"
      type="text"
      [(ngModel)]="newTitle"
      (blur)="editTitleHandler()"
    />
    <ng-template #content>
      <mat-card-title (dblclick)="activateEditModeHandler()">{{ todo.title }}</mat-card-title>
    </ng-template>

    <button mat-icon-button aria-label="delete todo" (click)="removeTodoHandler()">
      <mat-icon>delete_outline</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <tl-tasks [todoId]="todo.id"></tl-tasks>
  </mat-card-content>

  <mat-card-footer class="todo-footer">
    <tl-todo-filters
      class="todo-footer-btns"
      (changeFilterEvent)="changeFilter($event)"
      [filter]="todo.filter"
    ></tl-todo-filters>

    <p class="todo-date">{{ todo.addedDate | date : 'longDate' }}</p>
  </mat-card-footer>
</mat-card>
